body {
    background-color: #7afef2;
}

.class12 {
    margin-left: 0.5rem;
    margin-top: 40px;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 40px;
}

.paragraphclass {
    font-family: "Arial", sans-serif;
    font-size: 15px;
    justify-content: space-around;
    margin-left: 25%;
    position: center;
    align-text: center;
}

.divclass {
    left: 50%;
    margin-right: -150%;
    margin-left: 37%;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 500px;
    height: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    background-color: #fff;
    border-radius: 10px;
}

.innercontainer1 {
    position: relative;
    margin: 20px 10px;
    top: 10%;
}