body {
    background-color: #2a3473;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.class1 {
    margin-left: 280px;
    margin-right: 90px;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    position: relative;
}

.class2 {
    margin-left: 550px;
    margin-right: 90px;
    margin-top: -55px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    position: relative;
}

.class3 {
    margin-left: 700px;
    margin-right: 90px;
    margin-top: -60px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.class4 {
    margin-left: 900px;
    margin-right: 90px;
    margin-top: -62px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.class5 {
    margin-left: 1200px;
    margin-right: 90px;
    margin-top: -68px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.cover-container {
    background-image: linear-gradient(to right, #fe3338, #e27139);
}

.cover {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

ul {
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    float: right;
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    margin-right: 2px;
    font-size: 17px;
    bottom: 0;
    right: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul li a:hover {
    background-color: green;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
    border-radius: 2px;
}

header {
    width: 100%;
    height: 70px;
}

.container3 {
    justify-content: center;
    margin-top: 10rem;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    width: auto;
    margin-right: 40rem;
    height: auto;
    border-radius: 10px;
    align-content: center;
    margin-left: 40rem;
    background-color: #7afef2;
    text-align: center;
    -webkit-text-fill-color: salmon;

}

nav {
    width: 100%;
    height: 45px;
    background-color: #77737c;
}

h1 {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 10%;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #39ca74;
    margin-top: -3px;
}

span {
    color: #76d0fe;
    margin-left: 10px;
}

.span2 {
    color: #60fea7;
    margin-left: 10px;
}

.container4 {
    margin-top: -2rem;
    margin-left: 35rem;
    margin-bottom: 5rem;
    text-align: center;
    width: 50rem;
    height: 30rem;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.hrclass {
    max-width: 200px;
    margin-top: -10px;
}

.vertical-center {
    position: relative;
    top: 10%;
    margin-top: 10px;
}

img {
    width: 20%;
    height: 20%;
    margin-left: -500px;
    position: relative;
}

.container2 {
    margin-left: 50%;
    height: 20em;
    width: 20em;
}

.captionfarmostleft {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    margin-top: -5px;
    margin-left: -505px;
    position: relative;
}

.farmostleftunderline {
    max-width: 130px;
    margin-left: 85px;
    margin-top: -15px;
}

.farmostleftprice {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    margin-left: -505px;
    margin-top: -5px;
    -webkit-text-fill-color: #0034ff;
}

.class6 {
    max-width: 130px;
    margin-left: 85px;
    margin-top: -10px;
}

.class7 {
    margin-left: 490px;
    margin-top: -220px;
}

.imageclass {
    width: 50%;
    height: 50%;
}

.vertical-center2 {
    position: relative;
}

.centerunderlines {
    max-width: 130px;
    margin-top: -14px;
    align-content: center;
}

.centercaption {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    margin-top: -5px;
}

.centerprice {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    margin-top: -7px;
    -webkit-text-fill-color: #0034ff;
}

.hrunderline2center {
    max-width: 130px;
    margin-top: -10px;
    align-content: center;
}

.class8 {
    margin-left: 870px;
    margin-top: -230px;
}

.imgclass {
    min-width: 140px;
    min-height: 140px;
    transform: scale(1.0);
}

.hrunderline3left {
    max-width: 140px;
    margin-top: -25px;
    margin-right: 110px;
}

.pclass5 {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    margin-top: -4px;
    margin-right: -435px;
}

.pricefarleft {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    margin-right: -435px;
    margin-top: -7px;
    -webkit-text-fill-color: #0034ff;
}

.farleft2ndhrunderline {
    max-width: 140px;
    margin-top: -10px;
    margin-right: 110px;
}



.headersubclass {
    text-align: center;
}

.othersection-container {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 5px;
    font-size: 20px;
}

.hr3 {
    max-width: 100px;
    align-content: center;
    margin-top: -15px;
    display: block;
}

.othersection {
    width: 100%;
    height: 10%;
    text-align: center;
    margin: 0;
    align-content: center;
    transform-origin: bottom;
    background-color: #3c6380;
    position: absolute;
}

.contact1 {
    margin-left: -100px;
    margin-top: -5.0px;
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.contact2 {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}
